{% extends 'posts/base.html' %}
{% block title %}
    Add Category
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
    <h1>Add a new Category</h1><hr>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success">
                Create
            </button>
            <a href="{% url 'home' %}" class="btn btn-outline-dark">Home</a>
        </form>
    </div>
    {% else %}
        <strong>You are not allowed here !!!!!!!!!!!</strong>
    {% endif %}
{% endblock %}