{% extends 'posts/base.html' %}
{% block title %}
    Add a new post
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <h1>Add Blog Post</h1>
        <hr>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">
                    Create Post
                </button>
                <a href="{% url 'home' %}" class="btn btn-outline-dark">Home</a>
            </form>
        </div>

        <script>
            let name ={{ user.id }};
            document.getElementById("elder").value = name;
        </script>
    {% else %}
        <strong>You are not allowed here !!!!!!!!!!!</strong>
    {% endif %}
{% endblock %}